<html>
	<head>
		<title>Code Share: Share your codes!</title>
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<section class="header view">
				<h1>Code Share: Share your codes !</h1>
			</section>
			<section>
				<h2>Logs des modifications</h2>
				<a class="home-admin" href="/">Retour accueil</a>
		
				<ul class="ul-admin">
					{% if data %}
						{% for row in data %}
							<li>
								<span>ID : </span>{{ row[0] }}
								<span>IP : </span>{{ row[1] }}
								<span>Date : </span>{{ row[3] }}
								<br/>
								<span>Navigateur : </span>{{ row[2] }}
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</section>
		</main>
	</body>
</html>
