<html>
	<head>
		<title>Code Share: Share your codes!</title>
		<link href="/static/style.css" rel="stylesheet">
		<link href="/static/pygment_native.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<section class="header">
				<h1>Code Share: Share your codes!</h1>
	
				<form method="GET" action="/create">
					<button name="create">Créer un nouveau code</button>
				</form>
			</section>
			<section class="content">
				<h2>Derniers ajouts</h2>

				{% if data %}
					{% for row in data %}
						<article>
							<a href="/view/{{ row.uid }}">
								<div class="code-content">
									<div class="info">
										<span class="language">{{ row.language }}</span>
										<span>Créer le {{ row.createdAt }}</span>
										<span>Modifié le {{ row.updatedAt }}</span>
									</div>
			
									<div class="index highlight">{{ row.code|safe }}</div>
								</div>
							</a>
						</article>
					{% endfor %}
				{% endif %}
			</section>	
		</main>
	</body>
</html>
