<html>
	<head>
		<title>Code Share: Share your codes!</title>
		<link href="/static/pygment_native.css" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<section class="header view">
				<h1>Code Share: Share your codes !</h1>
			</section>

			<section class="content view">
				<div class="btn-cont">
					<a href="/">Accueil</a>
					<a href="/edit/{{ uid }}">Modifier</a>
					<a href="/create">Nouveau</a>
					<form>
						<label>URL:</label>
						<input name='url' value="{{ url }}">
					</form>
				</div>
				<pre class="highlight">{{ code|safe }}</pre>
			</section>
		</main>
	</body>
</html>
